{% extends "base.html" %}

{% block content %}

    {% if nome_visitante %}
        <p>Bem-vindo, {{ nome_visitante }}!</p>
    {% endif %}

    <form method="POST">
        <label for="nome_visitante">Digite seu nome:</label>
        <input type="text" id="nome_visitante" name="nome_visitante" value="{{ nome_visitante or '' }}">
        <button type="submit">Salvar</button>
    </form>

    <a href="{{ url_for('esquecer') }}">Esquecer</a>

    <h2 class="titulo-pagina">Produtos cadastrados</h2>

    {% if produtos %}

        <ul class="lista-produtos">

            {% for produto in produtos %}

                <li class="produto">

                    <div class="produto-info">
                        <h3 class="produto-nome">
                            <a href="{{ url_for('detalhe_produto', produto_id=produto.id) }}">
                                {{ produto.nome }}
                            </a>
                        </h3>

                        <p class="produto-preco">
                            R$ {{ "%.2f"|format(produto.preco) }}
                        </p>

                        <p class="produto-estoque">
                            Estoque: {{ produto.estoque }}
                        </p>

                        <p class="produto-categoria">
                            Categoria: {{ produto.categoria }}
                        </p>

                        <p class="produto-descricao">
                            Descrição: {{ produto.descricao }}
                        </p>

                        {% if produto.preco > 100 %}
                            <strong class="produto-caro">
                                Acima de R$ 100,00
                            </strong>
                        {% endif %}
                    </div>

                    <a href="{{ url_for('editar_produto', produto_id=produto.id) }}">Editar</a>

                    <form method="POST"
                        class="form-remover"
                        action="{{ url_for('remover_produto', id=produto.id) }}">
                        <button class="botao-remover" type="submit">Remover</button>
                    </form>

                </li>

            {% endfor %}

        </ul>

    {% else %}

        <p class="sem-produtos">
            Nenhum produto cadastrado ainda.
        </p>

    {% endif %}

{% endblock %}