{% extends "base.html" %}

{% block content %}

    <h2 class="titulo-pagina">Cadastrar Novo Produto</h2>

    {% if erros %}
        <ul>
            {% for erro in erros %}
                <li class="erro">
                    {{ erro }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form-produto" method="POST">

        <label class="form-label" for="nome">Nome:</label>
        <input class="form-input" type="text" id="nome" name="nome"
               value="{{ request.form.get('nome', '') }}">

        <label class="form-label" for="preco">Preço:</label>
        <input class="form-input" type="number" id="preco" name="preco" step="0.01"
               value="{{ request.form.get('preco', '') }}">

        <label class="form-label" for="estoque">Estoque:</label>
        <input class="form-input" type="number" id="estoque" name="estoque"
               value="{{ request.form.get('estoque', '') }}">

        <label class="form-label" for="categoria">Categoria:</label>
        <select class="form-input" id="categoria" name="categoria"
                value="{{ request.form.get('categoria', '') }}">
            <option value="">Selecione uma categoria</option>
            <option value="Periféricos">Periféricos</option>
            <option value="Informática">Informática</option>
        </select>

        <label class="form-label" for="descricao">Descrição:</label>
        <textarea class="form-input" id="descricao" name="descricao" rows="4">
            {{ request.form.get('descricao', '') }}</textarea>

        <button class="botao-cadastrar" type="submit">
            Cadastrar
        </button>

    </form>

{% endblock %}